/* * {
    outline:1px solid salmon;
} */
/* Global style of the webpage*//*#016295#283d5a #e5eec1#1c1c1e*#557c83#3aada8#a2d5ac*/
:root {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    --light:#dee7e8;
    --pop:#ec5743;
    --yellow:#fc9a1f;
    --white:white;
 
   /* --h4:#04c8a1;*/
    --text:#1c1c1e;
 
    /*background-color: var(--black);*/
    
}
/*Defining colour and font height for h1,h2, h3 and h4*/
body{
    background-color: var(--light);
    color: var(--text);
}
h1{
    font-size:40px;
}
h2{
   
    font-size: 36px;
}

h3{
    
    font-size: 32px;
}
p{
    
    font-size:28px ;
}
h4{
   
    font-size: 20px;

}

@media screen and (max-width: 768px) {
    /*Mobile Device responsive navigation*/
#menu{
    display:flex;
flex-flow:column wrap;
align-items: end;
text-decoration: none;
 }
 /*Mobile Device responsive Summary*/
 #summary{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns:100% ;
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d";
  
 }
/*Mobile Device responsive About me Section*/
 #about-me{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr ;
    grid-template-areas: "about-me-title1" 
                         "background1"
                        "background1";                           
    border: solid 3px var(--yellow);
}

/* Mobile Device responsive skills layout*/
#logo{
    grid-area: logo;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     /* align-items: center; */
 }


}
@media screen and (min-width:  992px) {
/*Desktop Device responsive Navigation*/
#menu{
    display:flex;
    justify-content: space-evenly;
    width:50%;
    align-items: end;
    text-decoration: none;
    padding:20px;

 }
/*Desktop Device responsive Summary*/
 #summary{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:15% 35% 15% 35% ;
    grid-template-areas: "a b c d";
    border: solid 3px var(--yellow);
  
 }

 /*Desktop Device responsive About me Section*/

#about-me{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "about-me-title1 background1 background1";                           
    border: solid 3px var(--yellow);
}
/* Desktop Device responsive skills layout*/
#logo{
    grid-area: logo;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     /* align-items: center; */
 }
 .footer{
    display: flex;
    flex-direction: row;
   align-items: flex-start;
 }

}


#about-me-title{
    grid-area: about-me-title1;
}
#background{
   grid-area: background1;
}

/*Style for My skills Section*/

#skills{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 15% 85%;
    grid-template-areas: "my-skills logo";
}

#my-skills{
    grid-area: my-skills;
}



/*Style for My Works Section*/

#my-work{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 1fr 1fr;
    grid-template-areas:"work first-app1 first-app1"
                        "work second-app third-app"; 
    overflow: hidden;
    gap: 10px;
}


#my-work{
    
    grid-area:work;
    
}
#first-app{
    grid-area: 1 / 2 / 2/ span 4;
   
}
#second-app{
    grid-area: second-app;
}
#third-app{
    grid-area: third-app;
}

.project-image{
 width:100%;
}

 #li, #git,#em, #ph{
    max-width: 50px;
    max-height: 50px;
}
.lg{
    max-width: 100px;
    max-height: 100px;
}
a{
    text-decoration: none;
    font-size: 32px;
}
/*Navigation button decoration */
.option{
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--pop);
    color: var(--pop);
    background-color: var(--white);
    align-self: flex-end;
    /* transition: all 0.5s ease-in-out; */
}
.heading{
    background-color: var(--light);
    padding: 15px;
    height: 25px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

