/* Global style of the webpage*/
:root {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    --light:#dee7e8;
    --pop:#ec5743;
    --yellow:#fc9a1f;
    --white:white;
    --text:#1c1c1e; 
}

/*Defining colour and font height for h1,h2, h3 and h4*/
body{
    background-color: var(--light);
    color: var(--text);
}
h1{
    font-size:40px;
}
h2{
   
    font-size: 36px;
}

h3{
    
    font-size: 32px;
}
p{
    
    font-size:28px ;
}
h4{
   
    font-size: 20px;

}

/*Styling for mobile responsiveness*/

@media screen and (max-width: 768px) {
       /*Mobile Device responsive navigation*/
    /* body{
        z-index: -2;
    } */
    #menu{
    display:flex;
    flex-flow:column wrap;
    align-items: end;
    text-decoration: none;
 }
 /*Mobile Device responsive Summary*/
 #summary{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns:100% ;
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d";
   
 }
/*Mobile Device responsive About me Section*/
 #about-me{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr ;
    grid-template-areas: "about-me-title1" 
                         "background1"
                        "background1";                           
    
}

/* Mobile Device responsive skills layout*/
#logo{
     grid-area: logo;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center; 
 }

 /*Mobile Device responsive My Works Section*/
#my-work{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:"work"
                         "first-app1" 
                         "second-app"
                         "third-app"; 
    position: relative;  
}
 /* Mobile Device responsive footer*/
 footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

}
/*Styling for desktop responsiveness*/

@media screen and (min-width:  992px) {
/*Desktop Device responsive Navigation*/
#menu{
    display:flex;
    justify-content: space-evenly;
    width:50%;
    align-items: end;
    text-decoration: none;
    padding:20px;

 }

 
/*Desktop Device responsive Summary*/
 #summary{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:15% 35% 15% 35% ;
    grid-template-areas: "a b c d";
    border: solid 1px var(--yellow);
    z-index: 2;
 }

 /*Desktop Device responsive About me Section*/

#about-me{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "about-me-title1 background1 background1";                           
   
}
/* Desktop Device responsive skills layout*/

#logo{
    grid-area: logo;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
   
 }

 /*Desktop Device responsive My Works Section*/

#my-work{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 1fr 1fr;
    grid-template-areas:"work first-app1 first-app1"
                        "work second-app third-app"; 
    overflow: hidden;
    gap: 10px;
}

#first-app{
    grid-area: 1 / 2 / 2/ span 4;
   
}
 /* Desktop Device responsive footer*/
 footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

}

#about-me-title{
    grid-area: about-me-title1;
}

#background{
   grid-area: background1;
}

/*Style for My skills Section*/

#skills{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 15% 85%;
    grid-template-areas: "my-skills logo";
    border: solid 1px var(--yellow);
    padding: 3px;
}

#my-skills{
    grid-area: my-skills;
}

#menu a:hover{
    background-color: var(--pop);
    color: var(--light);
    
}

#my-work{
    grid-area:work;
    
}

#second-app{
    grid-area: second-app;
}
#third-app{
    grid-area: third-app;
}

.project-image{
 width:100%;
}

 #li, #git,#em, #ph{
    max-width: 50px;
    max-height: 50px;
}

.lg{
    max-width: 100px;
    max-height: 100px;
}

a{
    text-decoration: none;
    font-size: 32px;
}
/*Navigation button decoration */

.option{
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--pop);
    color: var(--pop);
    background-color: var(--white);
    align-self: flex-end;
   
}

.heading{
    background-color: var(--light);
     
}

.container{
    display: flex;
    flex-direction:row-reverse;
   justify-content: space-between;
   
}
.content{
    display: flex;
    flex-direction: column;
    align-items: start;
}


