* {
    outline:1px solid salmon;
}
/* Global style of the webpage*//*#016295#283d5a #e5eec1#1c1c1e*#557c83#3aada8#a2d5ac*/
:root {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    --light:#dee7e8;
    --pop:#ec5743;
    --yellow:#fc9a1f;
 
   /* --h4:#04c8a1;*/
    --text:#1c1c1e;
 
    /*background-color: var(--black);*/
    
}
/*Defining colour and font height for h1,h2, h3 and h4*/
body{
    background-color: var(--light);
    color: var(--text);
}
h1{
    font-size:40px;
}
h2{
   
    font-size: 36px;
}

h3{
    
    font-size: 32px;
}
p{
    
    font-size:28px ;
}
h4{
   
    font-size: 20px;

}
/*Device responsive navigation*/
@media screen and (max-width: 768px) {
#menu{
    display:flex;
flex-flow:column wrap;
justify-content: flex-end;
text-decoration: none;
 }
 #summary{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns:100% ;
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d";
  
 }



}
@media screen and (min-width:  992px) {
#menu{
    display:flex;
    justify-content: space-between;
    align-self: flex-end;
    text-decoration: none;
    padding:20px;

 }

 #summary{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:15% 35% 15% 35% ;
    grid-template-areas: "a b c d";
    border: solid 3px var(--yellow);
  
 }


}

/*Style for About me Section*/

#about-me{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "about-me-title1 background1 background1";                           
    border: solid 3px var(--yellow);
}

#about-me-title{
    grid-area: about-me-title1;
}
#background{
   grid-area: background1;
}

/*Style for My skills Section*/

#skills{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 15% 85%;
    grid-template-areas: "my-skills logo";
}

#my-skills{
    grid-area: my-skills;
}

#logo{
   grid-area: logo;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}











#my-work{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "work first-app1 first-app1"
    "work second-app1 third-app1";
}





.my-work{
    grid-area:work;
    /* grid-row: 4/5; 
    grid-column: 1/2; */
}
/* #first-app{
    grid-area: first-app1;
    
    display: flex;
    flex-flow: column wrap;
 
}


#second-app #third-app{
     display: flex;
       flex: 25%;
    /* max-width: 200px;
    max-height: 200px;  
}


#second-app{
    grid-area: second-app1;
    /* max-width: 500px;
    max-height: 400px; 
}

#third-app{
    grid-area: third-app1;
  
} */

.lg, #li, #git{
    max-width: 100px;
    max-height: 100px;
}
 

a{
    color: var(--pop);
    text-decoration: none;
    font-size: 32px;
}

#contact-me{
display: grid;
grid-template-rows: 1fr;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas: "co li git";

}
.footer{
    
    margin-left: 50%;
    padding: 50%;
}